<!-- Estos son datos para añadir al nuevo producto, están ordenados según el campo -->

The Owl House

Disney

3€


<p>Luz Noceda es una adolescente estadounidense de origen dominicano-venezolano de Gravesfield, Connecticut, que accidentalmente se topa con un portal a otro mundo en lugar de ir a un campamento de verano de detención juvenil. Llegando a un archipiélago conocido como las Islas Hirvientes, formado a partir de los restos de un Titán muerto, se hace amiga de la bruja rebelde Eda Clawthorne (alias "La Dama Búho") y de su adorable compañero de habitación, el demonio King. A pesar de no tener habilidades mágicas, Luz persigue su sueño de convertirse en bruja, sirviendo como aprendiz de Eda en la Casa Búho y, finalmente, encuentra una nueva familia en un entorno poco probable.</p>

<p>La segunda temporada, que sigue directamente los eventos del final de la primera temporada, sigue a los protagonistas principales trabajando juntos para devolver a Luz al Reino Humano, ayudar a Eda a enfrentar su maldición y buscar la verdad sobre el pasado de King, mientras luchan contra el tiránico Emperador Belos y sus secuaces, mientras planea el Día de la Unidad para unir los reinos de los humanos y los demonios y, así, destruir a todas las brujas para siempre.</p>


<table>
              <tr>
                <th>Personajes</th>
                <th>Seiyū</th>
              </tr>
              <tr>
                <td>Luz Noceda</td>
                <td>Sarah-Nicole Robles</td>
              <tr>
                <td>Edalyn Clawthorne</td>
                <td>Wendie Malick</td>
              </tr>
              <tr>
                <td>King Clawthorne</td>
                <td>Alex Hirsch</td>
              </tr>
              <tr>
                <td>Amity Blight</td>
                <td>Mae Whitman</td>
              </tr>
              <tr>
                <td>Willow Park</td>
                <td>Tati Gabrielle</td>
              </tr>
              <tr>
                <td>Gus Porter</td>
                <td>Issac Ryan Brown</td>
              </tr>
</table>


<a href="https://es.wikipedia.org/wiki/The_Owl_House">Wikipedia de The Owl House </a> 
            <br><a href="https://www.theowlclub.net/2020/01/hola-mundo/">The Owl Club </a> <span> - Página para ver los episodios de TOH </span>


<p> Magia, Brujas, LGTB </p>
